In [45]:
d1={'kedar':78, 'jeevan': 11, 'john': 56,'abc':2}

In [49]:
l1=sorted(d1.keys())

In [50]:
l1

['abc', 'jeevan', 'john', 'kedar']

In [51]:
sort_d1={}
for i in l1:
    sort_d1[i]=d1[i]

In [52]:
sort_d1

{'abc': 2, 'jeevan': 11, 'john': 56, 'kedar': 78}

In [46]:
sort_val={}

In [47]:
l2=sorted(d1.values())

In [48]:
l2

[2, 11, 56, 78]

In [60]:
for i in l2:
    for key, value in d1.items():
        if value==i:
            sort_val[key]=i

In [61]:
sort_val

{'abc': 2, 'jeevan': 11, 'john': 56, 'kedar': 78}

In [63]:
d1={1:11,2:22,3:33}

In [64]:
d1_sum=sum(d1.keys())+sum(d1.values())

In [65]:
d1_sum

72

In [95]:
l1=[1,2,3,4,5,6,8]

In [98]:
per=f'{round(((sum(l1)/(len(l1)*100))*100),2)} %'

In [99]:
per

'4.14 %'

In [100]:
l1=[('pen',13),('pencil',10),('book',43),('chock',1)]

In [110]:
sort_l1=sorted(l1, key=lambda x:x[1])

In [111]:
sort_l1

[('chock', 1), ('pencil', 10), ('pen', 13), ('book', 43)]

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('Iris.csv')

In [6]:
df.shape

(150, 6)

In [7]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [8]:
df.axes

[RangeIndex(start=0, stop=150, step=1),
 Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
        'Species'],
       dtype='object')]

In [9]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [11]:
df.shape[0]

150

In [13]:
for i in df.columns:
    print(i)

Id
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [16]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [37]:
df[['SepalLengthCm','SepalWidthCm']][:4]

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1

In [49]:
df.loc[4:10]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa

In [61]:
df.loc[4:10,['PetalWidthCm','SepalLengthCm']]

    PetalWidthCm  SepalLengthCm
4            0.2            5.0
5            0.4            5.4
6            0.3            4.6
7            0.2            5.0
8            0.2            4.4
9            0.1            4.9
10           0.2            5.4

In [52]:
df[4:7]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa

In [71]:
df.iloc[4:10:2,::-1]

       Species  PetalWidthCm  PetalLengthCm  SepalWidthCm  SepalLengthCm  Id
4  Iris-setosa           0.2            1.4           3.6            5.0   5
6  Iris-setosa           0.3            1.4           3.4            4.6   7
8  Iris-setosa           0.2            1.4           2.9            4.4   9

In [79]:
df.iloc[1,2]=56

In [81]:
df.size

900

In [82]:
df.shape

(150, 6)

In [85]:
df.isnull().sum().sum()

0

In [87]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [89]:
df.SepalLengthCm.max()

56.0

In [100]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,56.0,56.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [102]:
df.sort_index()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,56.0,56.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [103]:
df2=df.set_index('SepalLengthCm')

In [105]:
df2.sort_index(axis=0)

                Id  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
SepalLengthCm
4.3             14           3.0            1.1           0.1     Iris-setosa
4.4              9           2.9            1.4           0.2     Iris-setosa
4.4             43           3.2            1.3           0.2     Iris-setosa
4.4             39           3.0            1.3           0.2     Iris-setosa
4.5             42           2.3            1.3           0.3     Iris-setosa
...            ...           ...            ...           ...             ...
7.7            123           2.8            6.7           2.0  Iris-virginica
7.7            119           2.6            6.9           2.3  Iris-virginica
7.7            118           3.8            6.7           2.2  Iris-virginica
7.9            132           3.8            6.4           2.0  Iris-virginica
56.0             2          56.0            1.4           0.2     Iris-setosa

[150 rows x 5 columns]

In [116]:
df.SepalWidthCm.sort_values()

60      2.0
62      2.2
119     2.2
68      2.2
41      2.3
       ...
14      4.0
32      4.1
33      4.2
15      4.4
1      56.0
Name: SepalWidthCm, Length: 150, dtype: float64

In [115]:
df.sort_values('SepalWidthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
60,61,5.0,2.0,3.5,1.0,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
14,15,5.8,4.0,1.2,0.2,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
1,2,56.0,56.0,1.4,0.2,Iris-setosa

In [1]:
import pandas as pd

In [61]:
dict1={'Kedar': 43, 'Jeevan' : 34, 'Akshay' : 25, 'Shubham' : 38}

In [15]:
dict1={i:dict1[i] for i in sorted(dict1)}

In [24]:
dict1

{'Kedar': 43, 'jeevan': 34, 'Akshay': 25, 'Shubham': 38}

In [38]:
list1=[]

In [40]:
for i in range(len(dict1)):
    for j in range(i,len(dict1)):
        if list(dict1)[i] > list(dict1)[j]:
            break
    list1.append(list(dict1)[i])
    print(i, ' Name ', list(dict1)[i] )

0  Name  Kedar
1  Name  jeevan
2  Name  Akshay
3  Name  Shubham

In [41]:
dict1

{'Kedar': 43, 'jeevan': 34, 'Akshay': 25, 'Shubham': 38}

In [47]:
sort_values=list(sorted(dict1.values()))
new_dict={}
for i in range(sort_values):
    if sort_values[i]==dict1[]:
        new_dict[i]=i

TypeError: 'list' object cannot be interpreted as an integer

In [65]:
sorted_dict=dict(sorted(dict1.items(), key=lambda i : i[1]))

In [66]:
sorted_dict

{'Akshay': 25, 'Jeevan': 34, 'Shubham': 38, 'Kedar': 43}

In [68]:
sum(dict1.values())

140